{% extends 'layout.html' %}
{% block body %}
    <div style=" display: flex; justify-content: center;">
        <div style="display: inline-block">
            {{ super() }}
            <h1>Registered Client</h1>
            <div class="list-group">
                {% for client in clients %}
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{ client.client_name }}</h4>
                        <p class="list-group-item-text"><b>client id:</b> {{ client.client_id }}</p>
                        <p class="list-group-item-text"><b>client secret:</b> {{ client.client_secret }}</p>
                        <br>
                    </a>
                {% endfor %}
            </div>

            <div>
                <div style="float: right">
                    <a href="/register_client">register a new client > </a>
                </div>
                <div style="float: left">
                    <a href="/">< home</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
